.postContainer {
    text-align: left;
    border: 1px solid rgb(194, 194, 194);
    border-radius: 5px;
    margin: 10px 0;
    /* padding: 10px; */
}

.postHeader {
    display: flex;
    align-items: center;
}

.postHeaderImg {
    width: 40px;
    height: auto;
    border-radius: 40px;
    margin: 15px;
}

.input {
    width: 99%;
    padding: 0 0 10px 5px;
    margin-bottom: 2px;
    font-size: 14px;
    font-weight: 600;
    border: 0px;
    /* border-top: 1px solid rgb(194, 194, 194); */
    /* border: 1px solid red; */
}

.input:focus {
    outline: none
}

::placeholder {
    color: rgb(179, 179, 179);
    opacity: 1; /* for Firefox */
  }




